Source: libvorbisidec
Priority: extra
Maintainer: Alexander V. Nikolaev <avn@daemon.hole.ru>
Build-Depends: debhelper (>= 7.0.50), autotools-dev, devscripts, automake, libtool
XCS-Cross-Host-Build-Depends: debhelper, cdbs, cdbs-embedded, autotools-dev, automake, libtool
Standards-Version: 3.8.1
Section: core
Homepage: http://wiki.xiph.org/index.php/Tremor

Package: libvorbisidec-dev
Section: core
Architecture: any
Depends: libvorbisidec1 (= ${binary:Version}), ${misc:Depends}
Description: Integer-only Ogg Vorbis decoder, AKA "tremor" (Development Files)
 libvorbisidec is an Ogg Vorbis audio decoder (also known as
 "tremor"), implemented with no floating point arithmetic.  This makes
 it particularly amenable to use on systems which lack floating point
 hardware.
 .
 This package contains the development files.

Package: libvorbisidec1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Integer-only Ogg Vorbis decoder, AKA "tremor"
 libvorbisidec is an Ogg Vorbis audio decoder (also known as
 "tremor"), implemented with no floating point arithmetic.  This makes
 it particularly amenable to use on systems which lack floating point
 hardware.


